@media (max-width : 1199px) {

  .logo img {
    width: 44px;
    height: 44px;
  }

  .logo__text {
    margin-left: 6px;
    gap: 3px;
  }

  .logo__name {
    font-size: 13px;
  }

  .logo__slogan {
    font-size: 11px;
  }

  .header__mnu li a {
    font-size: 14px;
  }

  .header__phone {
    font-size: 16px;
  }

  .levels__row {
    flex-wrap: wrap;
    gap: 28px;
  }

  .levels-item {
    width: calc(50% - 14px);
  }

  .levels-item__title {
    margin-bottom: 24px;
  }

  .levels-item p {
    margin-bottom: 16px;
  }

  .deliv__row {
    gap: 28px;
  }

  .serv__items {
    margin-top: 60px;
  }

  .serv__row {
    gap: 20px;
    margin-top: 25px;
  }

  .levels-item {
    &:nth-child(2) {
      &:after {
        display: none;
      }
    }    
  }
  .prods__w {
    gap: 28px;
  }
}//1199

@media (max-width : 991px) {
  .header__ul {
    display: none;
  }

  .levels-actions {
    flex-direction: column;
    gap: 20px;
  }

  .levels-actions p {
    margin-bottom: 20px;
  }

  .levels__btn {
    width: 100%;
  }
  


  .deliv__row {
    flex-direction: column;
    margin-top: 46px;
  }

  .deliv__item {
    width: 100%;
    gap: 0px;
  }

  .deliv__title {
    margin-bottom: 40px;
  }

  .deliv__inner {
    margin-top: 0px;
    margin-bottom: 28px;
    gap: 16px;
  }

  .deliv__img {
    margin-right: 0px;
  }

  .deliv__content p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .deliv__content span {
    font-size: 18px;
    margin-top: 4px;
  }

  .serv__item {
    margin-bottom: 46px;
  }

  .serv__row {
    margin-top: 16px;
    flex-direction: column;
    gap: 24px;
  }

  .serv__img {
    width: 100%;
    height: 300px;
  }

  .serv__inf {
    width: 100%;
    gap: 16px;
    display: flex;  
    flex-direction: column;
  }

  .serv__elem {
    padding: 16px 25px;
  }

  .serv__name {
    font-size: 14px;
  }
  .advant__item-txt {
    word-break: break-all;
    font-size: 14px;
    font-family: var(--font-family);
  }

  .mater__w {    
    flex-wrap: wrap;
    gap: 16px;
  }
  .mater__col {
    width: 100%;
  }
  .mater__item {
    + .mater__item {
      margin-top: 16px;
    }
  }
  .mater__cont {
    padding: 16px;
  }

  .mater__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
  }

  .mater__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
  }
  .mater__w {
    margin-top: 46px;
  }
  .mater__row-2 {
    padding: 16px;    
  }
  .maters__choice-txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;    
    margin-left: 16px;
  }
  .prods__item {
   &:nth-child(3) {
     display: none;
   }    
 }
 .prods__w {
   margin-top: 48px;
 }
 .prods__title {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 18px;
 }
 .prods__content {
   padding: 40px 24px 24px 24px;
 }
 .prods__content ul li {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 18px;
   &:not(:last-child) {

   }
 }
}//991

@media (max-width : 767px) {
  .levels__row {
    margin-top: 36px;
  }
  .advant__row {    
    flex-direction: column;
    gap: 16px;
  }
  .advant__item {
    width: 100%;
  }
}//767


@media (max-width : 640px) {
  .prods__w {
    display: flex;    
    flex-direction: column;
    gap: 16px;
  }
  .prods__item {
    &:nth-child(3) {
      display: flex;
    }    
  }
}//640

@media (max-width : 575px) {

  .logo img {
    width: 34px;
    height: 34px;
  }

  .logo__name {
    font-size: 11px;
  }

  .logo__slogan {
    font-size: 7px;
  }

  .header__phone {
    font-size: 13px;
    font-family: var(--font-family);
  }

  .levels__row {
    gap: 16px;
    padding: 0 14.5px;
  }

  .levels-item {
    width: 100%;
    &:after {
      display: none !important;
    }
  }

  .levels-item__content {
    padding: 10px 25px;  
    
  }

  .levels-item__img {
    margin-bottom: 6px;
  }

  .levels-item__title {
    margin-bottom: 16px;
    font-size: 13px;
  }

  .levels-item p {    
    font-size: 13px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .levels-item::after {
    display: none;
  }

  .levels-actions {
    margin-top: 24px;
  }

  .levels-actions p {
    font-size: 13px;
  }

  .levels__btn {
    height: 51px;
    font-size: 12px;
  }

  .deliv__row {
    gap: 12px;
    margin-top: 24px;
  }

  .deliv__item-content {
    padding: 16px;
  }

  .deliv__title {
    margin-bottom: 32px;
    font-size: 16px;
  }

  .deliv__inner {
    margin-bottom: 13px;
  }

  .deliv__content p {
    margin-bottom: 6px;
    font-size: 12px;
    font-family: var(--font-family);
  }

  .deliv__content span {
    font-size: 14px;
    font-family: var(--font-family);
  }

  .serv__items {
    margin-top: 24px;
  }

  .serv__item {
    margin-bottom: 24px;
  }


  .serv__row {
    margin-top: 8px;
    gap: 10px;
  }

  .serv__img {
    height: 200px;
  }

  .serv__inf {
    gap: 8px;
  }

  .serv__elem {
    padding: 8px 25px;
  }

  .serv__name {
    font-size: 12px;
  }

  .serv__txt {
    font-size: 14px;
  }
  .advant__item-txt {
    font-size: 12px;
  }
  .advants__list {
    margin-top: 24px;
  }
  .mater__row-2 {
    padding: 8px;
    margin-top: 16px;
  }
  .maters__choice-txt {    
    font-size: 12px; 
    margin-left: 8px;
  }   
  .mater__w {
    margin-top: 24px;
  }
  .mater__name {
    font-size: 13px;
  }
  .mater__desc {
    font-size: 14px;
  }
  .mater__cont {
    padding: 8px;
  }
  .mater__desc {
    margin-top: 6px;
  }
  .mater__item + .mater__item {
    margin-top: 8px;
  }
  .mater__row + .mater__row {
    margin-top: 16px;
  }
  .prods__w {
    margin-top: 24px;
  }
  .prods__title {
    font-size: 13px;
    margin-left: 6px;
  }
  .prods__content ul li {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}//575

@media (max-width : 375px) {
  .serv__icon {
    width: 36px;
    height: 36px;
  }

}//375

@media (max-width : 359px) {

}//359