.header {
  background-color: rgb(0, 28, 36);
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {  
  flex: none;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  img {
    flex: 0 0 auto;
    width: 61px;
    height: 61px;
  }
}


.logo__text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo__name {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.logo__slogan {
  display: block;
  color: rgb(203, 213, 225);
}




.header__mnu {
  > ul {
    align-items: center;
    display: flex;
    > li {
      display: flex;      
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
      a {
        display: inline-flex;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-transform: uppercase;
      }
      &.has-children {
        &:after {          
          flex: none;
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-left: 4px;
          background-image: url("../img/arr-dw-mn.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.header__phone {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
}

@media (max-width : 1199px) {

  .logo img {
    width: 44px;
    height: 44px;
  }

  .logo__text {
    margin-left: 6px;
    gap: 3px;
  }

  .logo__name {
    font-size: 13px;
  }

  .logo__slogan {
    font-size: 11px;
  }

  .header__mnu li a {
    font-size: 14px;
  }

  .header__phone {
    font-size: 16px;
  }
}//1199

@media (max-width : 991px) {
  .header__ul {
    display: none;
  }
}//991

@media (max-width : 575px) {

  .logo img {
    width: 34px;
    height: 34px;
  }

  .logo__name {
    font-size: 11px;
  }

  .logo__slogan {
    font-size: 7px;
  }

  .header__phone {
    font-size: 13px;
    font-family: var(--font-family);
  }
  }//575