.levels {
  background-color: rgb(0, 28, 36);
  background-image: url("../img/bg-6.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.levels__row {
  margin-top: 48px;
  display: flex;
  gap: 40px;
  counter-reset: step-counter;
}

.levels-item {  
  flex: none;
  position: relative;
  width: calc(25% - 30px);
  display: flex;
  flex-direction: column;
  background: rgb(13, 34, 40);
  border-radius: 4px;
  padding: 24px 25px;
  border: 1px solid rgb(8, 145, 178);  
  &:before {
    counter-increment: step-counter;
    content: counter(step-counter);
    background: var(--project-colors-blue);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex: 0 0 auto;
    font-family: var(--third-family);
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -24px;
    left: -24px;
    @media (max-width : 992px) {
      font-size: 29px;
      font-family: var(--font-family);
    }
    @media (max-width : 575px) {
      font-size: 14px;
    }
  }
  &:not(:last-child) {    
    &:after {
      content: "";
      display: block;
      width: 39px;
      height: 3px;
      background: var(--project-colors-blue);
      position: absolute;
      right: -20px;
      top: 50%;
    }
  }
}


.levels-item__img {
  padding: 16px 0px;
  width: 48px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.levels-item__title {
  font-family: var(--third-family);
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-oppozite);
  margin-bottom: 32px;
}

.levels-item p {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}



.levels-actions {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.levels-actions p {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-oppozite);
  margin-bottom: 0px;
}

.levels__btn {
  font-family: var(--third-family);
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 16px 24px;
  width: 50%;
  height: 58px;
  background: var(--project-colors-blue);
}


@media (max-width : 1199px) {


  .levels__row {
    flex-wrap: wrap;
    gap: 28px;
  }

  .levels-item {
    width: calc(50% - 14px);
  }

  .levels-item__title {
    margin-bottom: 24px;
  }

  .levels-item p {
    margin-bottom: 16px;
  }
}

@media (max-width : 991px) {  
  .levels-actions {
    flex-direction: column;
    gap: 20px;
  }

  .levels-actions p {
    margin-bottom: 20px;
  }

  .levels__btn {
    width: 100%;
  }
  
  .levels-item {
    &:nth-child(2) {
      &:after {
        display: none;
      }
    }    
  }
}//991

@media (max-width : 767px) {
  .levels__row {
    margin-top: 36px;
  }
}



@media (max-width : 575px) {  

  .levels__row {
    gap: 16px;
    padding: 0 14.5px;
  }

  .levels-item {
    width: 100%;
    padding: 10px 25px;  
    &:after {
      display: none !important;
    }
  }

  .levels-item__img {
    margin-bottom: 6px;
  }

  .levels-item__title {
    margin-bottom: 16px;
    font-size: 13px;
  }

  .levels-item p {    
    font-size: 13px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .levels-item::after {
    display: none;
  }

  .levels-actions {
    margin-top: 24px;
  }

  .levels-actions p {
    font-size: 13px;
  }

  .levels__btn {
    height: 51px;
    font-size: 12px;
  }
}