@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #0891b2;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";



:root {
  --divider: var(--border-defaultborder);
  --text-oppozite: #fff;
  --text-secondary: var(--slate-300);
  --text-default: var(--bg-main);
  --text-hidden: var(--gray-600);
  --project-colors-white: var(--white);
  --project-colors-green-1: #39b536;
  --project-colors-green-2: #008e85;
  --project-colors-blue: var(--cyan-600);
  --primary-accent-main: #66cb32;
  --primary-accent--states-outlinedborder: rgba(241, 74, 56, 0.1);
  --primary-accent--states-focusvisible: rgba(241, 74, 56, 0.1);
  --primary-accent--states-focus: rgba(241, 74, 56, 0.4);
  --primary-accent--states-clck: #f14a38;
  --primary-accent--states-hover: #f14a38;
  --secondary-accent-main: #2c6cc3;
  --secondary-accent--states-outlinedborder: rgba(44, 108, 195, 0.05);
  --secondary-accent--states-focusvisible: rgba(44, 108, 195, 0.1);
  --secondary-accent--states-focus: rgba(44, 108, 195, 0.4);
  --secondary-accent--states-selected: rgba(44, 108, 195, 0.5);
  --secondary-accent--states-hover: rgba(44, 108, 195, 0.7);
  --icon-defaultfill: var(--bg-main);
  --icon-defaultcontur: var(--bg-main);
  --bg-white: var(--white);
  --bg-light: #1f2022;
  --bg-main: #001c24;
  --border-defaultborder: var(--gray-200);
  --bg-middle: var(--project-colors-blue);
  --project-colors-orange: #f98533;
  --white: #fff;
  --black: #000;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;
  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;
  --lime-950: #1a2e05;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #3b0764;
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --fuchsia-950: #4a044e;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-950: #500724;
  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;
  --icon-oppozitfill: var(--white);
  --icon-contur-oppozite: var(--bg-white);
  --border-defaultborder-2: var(--gray-300);
  --icon-middlefill: var(--gray-400);
  --icon-middlecontur: var(--gray-400);
  --project-colors-red: var(--rose-600);
  --project-colors-7: var(--bg-main);


  --font-family: "Gilroy", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Unbounded", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Segoe UI Symbol", sans-serif;
  --font5: "Helvetica", sans-serif;
  --font6: "Jost", sans-serif;
  --font7: "PT Sans", sans-serif;
  --font8: "Manrope", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Medium'), local('Gilroy-Regular'),
  url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('../fonts/Gilroy-Semibold.woff') format('woff'),
  url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}



.btn,
.btn-o,
*[class$="__btn"],
*[class$="__btn-o"] {  
  transition: 0.5s;
  &:hover {
    text-decoration: none;     
  }
}


.section {
  padding-top: 120px;
  padding-bottom: 120px;  
  @media (max-width : 991px) {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  @media (max-width : 575px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--project-colors-blue);
  margin-bottom: 16px;
  @media (max-width : 991px) {
    font-size: 28px;
    font-family: var(--font-family);
  }
  @media (max-width : 575px) {  
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.subtitle {
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 1.6;
  color: var(--text-oppozite);
  margin-top: -8px;
  @media (max-width : 991px) {
    margin-top: 0px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 400;  
  }  
  @media (max-width : 575px) {
    font-size: 16px;

  }
}

.h3 {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  margin-bottom: 24px;
  @media (max-width : 991px) {
    margin-bottom: 16px;
    font-family: var(--font-family);
  }
  @media (max-width : 575px) {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: var(--third-family);
  font-weight: 400;
  margin-bottom: 24px;
  @media (max-width : 991px) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 29px;  
    margin-bottom: 16px;    
  }
  @media (max-width : 575px) {
    font-size: 14px;
  }
}


.header {
  background-color: rgb(0, 28, 36);
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {  
  flex: none;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  img {
    flex: 0 0 auto;
    width: 61px;
    height: 61px;
  }
}


.logo__text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo__name {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.logo__slogan {
  display: block;
  color: rgb(203, 213, 225);
}




.header__mnu {
  > ul {
    align-items: center;
    display: flex;
    > li {
      display: flex;      
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
      a {
        display: inline-flex;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-transform: uppercase;
      }
      &.has-children {
        &:after {          
          flex: none;
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-left: 4px;
          background-image: url("../img/arr-dw-mn.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.header__phone {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
}


//levels

.levels {
  background-color: rgb(0, 28, 36);
  background-image: url("../img/bg-6.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.levels__row {
  margin-top: 48px;
  display: flex;
  gap: 40px;
  counter-reset: step-counter;
}

.levels-item {  
  flex: none;
  position: relative;
  width: calc(25% - 30px);
  display: flex;   
  border-radius: 4px; 
  //border: 1px solid rgb(8, 145, 178);
  @extend .grad;
  &:before {
    counter-increment: step-counter;
    content: counter(step-counter);
    background: var(--project-colors-blue);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex: 0 0 auto;
    font-family: var(--third-family);
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -24px;
    left: -24px;
    z-index: 3;
    @media (max-width : 992px) {
      font-size: 29px;
      font-family: var(--font-family);
    }
    @media (max-width : 575px) {
      font-size: 14px;
    }
  }
  &:not(:last-child) {    
    &:after {
      content: "";
      display: block;
      width: 39px;
      height: 3px;
      background: var(--project-colors-blue);
      position: absolute;
      right: -20px;
      top: 50%;
      z-index: 4;
    }
  }
}

.levels-item__content {  
  border-radius: 4px;
  flex-direction: column;
  background: rgb(13, 34, 40);
  border-radius: 4px;
  padding: 24px 25px;
  @extend .grad__inn;
}

.levels-item__img {
  padding: 16px 0px;
  width: 48px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.levels-item__title {
  font-family: var(--third-family);
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-oppozite);
  margin-bottom: 32px;
}

.levels-item p {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 24px;
  }  
  &:last-child {
    margin-bottom: 0;
  }
}



.levels-actions {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.levels-actions p {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-oppozite);
  margin-bottom: 0px;
}

.levels__btn {
  font-family: var(--third-family);
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 16px 24px;
  width: 50%;
  height: 58px;
  background: var(--project-colors-blue);
}

.deliv {
  background-color: rgb(0, 28, 36);
  background-image: url("../img/bg-6.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.deliv__row {
  margin-top: 80px;
  display: flex;
  gap: 40px;
}

.deliv__item {
  width: 50%;
  border-radius: 4px;
  display: flex;
  //border: 1px solid #0891b2;
  @extend .grad;
}

.deliv__item-content {  
  border-radius: 4px;
  display: flex;
  /*gap: 40px;*/
  flex-direction: column;
  padding: 25px;
  background: rgb(13, 34, 40);
  @extend .grad__inn;
}

.deliv__title {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-oppozite);
  margin-bottom: 40px;
}

.deliv__inner {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;  
  &:last-child {
    margin-bottom: 0;
  }
}

.deliv__img {
  width: 48px;
  height: 48px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
  }
}


.deliv__content {
  flex: 1 1 auto;
  p {
    margin-bottom: 16px;
    font-family: var(--third-family);
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--text-oppozite);
  }
  span {
    display: block;
    font-family: var(--second-family);
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-secondary);
    margin-top: 8px;
  }
}


.serv {
  background-color: rgb(241, 245, 249);
  .subtitle {
    color: #45556c;
  }
}

.serv__items {
  margin-top: 80px;
}

.serv__item {
  margin-bottom: 80px;  
  &:last-child {
    margin-bottom: 0;
  }
}



.serv__row {
  gap: 40px;
  display: flex;
  margin-bottom: 0px;
  margin-top: 40px;            
}

.serv__img {
  width: 50%;
  border-radius: 4px;
  height: auto;
  aspect-ratio: 1 / 0.7086;
}

.serv__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.serv__inf {
  width: 50%;
  gap: 24px;
  display: grid;
  grid-auto-rows: 1fr;  
}

.serv__elem {
  background: rgb(255, 255, 255);
  padding: 25px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 0px;
}

.serv__icon {
  width: 48px;
  height: 48px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.serv__content {
  margin-left: 24px;
}

.serv__name {
  font-size: 16px;
  text-transform: uppercase;
  color: #0a0a0a;
  line-height: 1.6;
}

.serv__txt {
  font-size: 18px;
  line-height: 1.6;
  color: #4b5563;
}





.advants {
  background: rgb(0, 28, 36) url("../img/bg-6.png") no-repeat top center;         
  background-size: cover;
  .h3 {
    color: #FFF;
  }
}

.advants__list {  
  margin-top: 48px;
}

.advant {
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}


.advant__row {
  border-radius: 4px;
  display: flex;
  gap: 40px;
}

.grad {
  position: relative;  
  background: linear-gradient(90deg, #0891B2, #033E4C);    
  padding: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grad__inn {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: relative;
  z-index: 2;  
}

.advant__item {
  border-radius: 4px;
  width: calc(33.333% - 26px);
  @extend .grad;
}

.advant__content {
  padding: 25px;  
  background: rgb(13, 34, 40);    
  border-radius: 4px;
  display: flex;
  align-items: center;
  span {
    word-break: break-all;    
  }

  @extend .grad__inn;

}

.advant__icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.advant__item-txt {
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(203, 213, 225);
  font-family: var(--third-family);
  font-weight: 400;
}

.mater {
  .subtitle {
    color: #45556c;
  }
}

.mater__w {
  display: flex;
  gap: 40px;  
  margin-top: 80px;
}

.mater__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mater__item {

}

.mater__row {  
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
  display: flex;    
  + .mater__row {
    margin-top: 24px;
  }
}

.mater__img {  
  flex: 0 0 179px;    
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.mater__cont {
  padding: 24px 24px;  
}

.mater__name {
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(10, 10, 10);  
  font-family: var(--third-family);
  font-weight: 400;
}

.mater__desc {
  font-size: 18px;
  line-height: 1.6;
  color: rgb(75, 85, 99);
  margin-top: 16px;
}

.mater__row-2 {
  margin-top: 28px;
  background: rgb(249, 133, 51);
  padding: 32px 24px 33px;
  display: flex;  
  align-items: center;
}

.mater__icon {
  width: 80px;
  height: 80px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maters__choice-txt {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-left: 24px;
}




.prods {
  background: rgb(241, 245, 249);
  .subtitle {
    color: #45556c;
  }
}

.prods__w {  
  gap: 40px;
  margin-top: 80px;
  display: grid;  
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.prods__item {  
  display: flex;  
  flex-direction: column;
  border: 1px solid var(--border-defaultborder);
  border-radius: 4px;
}

.prods__img {
  height: 214px;
  overflow: hidden;
  border-radius: 4px;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.prods__content {
  background-color: rgb(255, 255, 255);
  padding: 48px 24px 24px;  
  flex-grow: 1;
  ul {
    li {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: var(--text-hidden);  
      position: relative;   
      padding-left: 15px; 
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 11px;        
        flex: none;
        left: 0;        
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: var(--project-colors-blue);
      }  
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

.prods__title-w {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  img {
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    display: flex;
  }
}


.prods__title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #0a0a0a;
  margin-left: 5px;
}


.section.our {
  background: rgb(241, 245, 249);
  .subtitle {
    color: #45556c;
  }
}



.our__items {
  margin-top: 80px;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.our__row {
}

.our__dw-w,
.our__item-w {
  margin-top: 40px;  
  gap: 24px;
}

.our__item-w {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.our__item {
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(15, 7, 6, 0.06);
  background: #fff;
  padding: 25px;
}

.our__icon {
  width: 48px;
  height: 48px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our__item-content {
  margin-left: 24px;
}

.our__item-title {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: var(--third-family);
}

.our__item-txt {
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 1.6;
  color: rgb(75, 85, 99);
  margin-bottom: 0;
}

.our__dw-w {
  display: grid;
  grid-template-columns: repeat(2, auto);  
}

.our__dw {
  border: 1px solid rgb(241, 245, 249);
  border-radius: 4px;
  box-shadow: rgba(15, 7, 6, 0.06) 0px 1px 3px 0px;
  background: rgb(255, 255, 255);
  display: flex;
  padding: 25px;
  align-items: center;
}

.our__dw-txt {
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
}

.slider {
}



.slider__row {
  display: flex;
  position: relative;
}

.slider__content {
  width: 754px; 
  flex: none;
  padding-top: 173px;
  padding-bottom: 173px;
  position: relative;
  z-index: 5;
}

.slider__city {
  font-family: var(--third-family);
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--project-colors-orange);
  margin-bottom: 16px;
}

.slider__title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-default);
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  .color-wh {
    color: var(--text-oppozite);    
  }
}


.slider__h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-default);
  margin-bottom: 24px;
}

.slider__subtitle {
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 1.6;
  color: var(--text-hidden);
  margin-bottom: 64px;
}

.slider__actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 603px;
}

.btn {
  border-radius: 4px;
  padding: 0px 24px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--project-colors-blue);
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: var(--third-family);
  @media (any-hover: hover) {
    &:hover {
      background: #1a748c;
    }
  }
  &:active {
    color: #fff;
    background: var(--project-colors-blue);
  }
}

.btn-o {
  font-family: var(--third-family);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-default);
  border: 1px solid var(--project-colors-blue);
  border-radius: 4px;
  padding: 0px 24px;
  height: 58px;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);      
    }
  }
  &:active {
    color: #fff;
    background: var(--project-colors-blue);    
    box-shadow: none;
  }
}

.slider__right {  
  width: calc(100% - 754px);
  background-image: url("../img/slider-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-color: rgb(0, 28, 36);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .slider__title {
    margin-bottom: auto;
    margin-top: 223px;
    padding-left: 15px;
  }
}

.slider__slider,
.slider__slide {
  height: 400px !important;
}

.slider__slider {
  overflow: hidden;
}

.slider__slide {
  display: flex !important;            
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
  }
}


.slider__text {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--text-oppozite);
  padding: 26px 26px 62px;
  z-index: 2;
  position: relative;
  z-index: 2;
}

.slider__slider {
  .slick-dots {
    position: absolute;
    right: 124px;
    bottom: 62px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 4;
    li {
      font-size: 0;
      background: none;
      padding: 0;      
      button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;      
        border-radius: 50%;
        width: 11px;
        height: 11px;
        flex: 0 0 auto;
        background-color: rgb(255, 255, 255);
      }
      &.slick-active {
        button {
          background-color: rgb(8, 145, 178);

        }
      }
    }
  }
}


.conts {  
  overflow: hidden;
  min-height: 610px;
  position: relative;
}

.conts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.conts__content {
  padding-top: 56px;
  padding-bottom: 55px;  
  width: 100%;  
}

.conts__w {
  width: 609px;
  background-color: rgb(255, 255, 255);
  padding: 24px 24px 24px 16px;
  display: flex;
  justify-content: space-between;  
  position: relative;
  z-index: 10;
}

.conts__labels {
  display: flex;  
  flex-direction: column;
  width: 42px;  
  flex: none;
  > div {
    writing-mode: vertical-rl; /* Вертикальное написание текста */
    text-orientation: mixed; /* Сохраняет ориентацию букв */
    transform: rotate(180deg); /* Переворачивает текст */
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    width: 42px;
    font-family: var(--third-family);
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
}

.conts__inner {
  width: calc(100% - 42px);
  margin-left: 1px;
}

.conts__inner-1 {
 border-left: 1px solid rgba(15, 7, 6, 0.1);  
}

.conts__labels-details {
  color: rgb(255, 255, 255);
  background: rgb(124, 124, 124);
}

.conts__labels-contacts {  
  color: rgb(255, 255, 255);
  background: rgb(8, 145, 178);
  position: relative;  
  &:after {    
    transform: rotate(180deg) translate(100%, 50%);
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 10px;
    height: 38px;
    background: url("../img/Polygon 4.svg") no-repeat right center;
    
  }  
}



.loc {
  display: flex;
}

.loc__txt {
  font-family: var(--font7);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #212529;
  padding-left: 18px;
  margin-bottom: 24px;
  max-width: 310px;
}

.loc__close {
  width: 24px;
  height: 24px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.conts__col {
  padding: 16px 12px 16px 32px;
  background: url("../img/Line52.svg") no-repeat top center, url("../img/Line52.svg") no-repeat bottom center;
}

.conts__row {
  display: flex;  
  + .conts__row {
    margin-top: 8px;
  }
}

.conts__icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conts__inf-w {
}

.conts__inf-name {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(75, 85, 99);
  margin-bottom: 4px;
  font-family: var(--third-family);
}

.conts__inf-txt {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: rgb(0, 28, 36);
}

.conts__mail {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: rgb(0, 28, 36);
  display: inline-flex;
  &:hover {
    text-decoration: none;
  }
}

.conts__btn-w {
  display: flex;
  gap: 24px;
  padding-left: 14px;
  margin-top: 26px;  
  justify-content: space-between;
}

.conts__btn {
  font-family: var(--third-family);
  background: rgb(8, 145, 178);
  display: inline-flex;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  height: 58px;
  align-items: center;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  width: 50%;
}

.conts__phone-w {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conts__phone {
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(33, 37, 41);
  display: inline-flex;
  font-family: var(--third-family);
  &:hover {
    text-decoration: none;
  }
}

.conts__phone-txt {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(75, 85, 99);
  text-align: center;
  font-family: var(--second-family);
}

.conts__soc-w {
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 1.6;
  color: rgb(33, 37, 41);
  display: flex;
  align-items: center;
  padding-left: 32px;
  margin-top: 24px;
}

.conts__soc {
  line-height: 1.6;
  margin-left: 59px;
}

.conts__geo {
  background-image: url("../img/geo-1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  height: 85px;
  width: 82px;
  display: block;
  position: absolute;
  right: -5px;
  left: 1000px;
  bottom: 250px;
}

.banner__content {
  position: relative;
  z-index: 2;
}

.banner {  
  background-color: #010c10;
  padding-top: 120px;
  padding-bottom: 80px;
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top
  }
  * {
    color: #FFF;
  }
  .btn-o {
    background-color: #FFF;
    color: var(--text-default);
  }
  .slider__actions {
    margin-top: 56px;
  }
  

}


.banner--2 {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(269deg, rgba(0, 28, 36, 0) 0%, #001c24 100%);
    z-index: 1;
  }  
}

.banner--3 {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;    
    background: linear-gradient(270deg, rgba(0, 28, 36, 0) 0%, #001c24 31.2%);    
    z-index: 1;
  }  
}

.banner--4 {  
  background: linear-gradient(101deg, #001c24 0%, #000002 100%);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;        
    background: linear-gradient(269deg, rgba(0, 28, 36, 0) 0%, #001c24 100%);
    z-index: 1;
  } 
  @media (min-width : 1200px) {
    padding: 167px 0;
  } 
}

.color-red {
  color: var(--project-colors-red);
}


.slider__h4 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--text-oppozite);
}



.content-block {
  padding: 112px 0;
  p {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(0, 28, 36);
    margin-bottom: 32px;  
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.content-block__row {
  gap: 80px;
  display: flex;
}

.content-block__col {
  width: 50%;    
  img {
    max-width: 100%;
    height: auto;
  }
}

.work-order {
  background: var(--bg-main);
}

.work-order__row {
  display: flex;
  gap: 40px;  
}

.work-item {
  width: calc(33.333% - 27px);
  @extend .grad;
  border-radius: 4px;
  &:before {
    display: none;
  }
}

.work-item__content {
  @extend .grad__inn;
}

.completed {
  background: rgba(8, 145, 178, 0.03);  
}

.completed__sl {
  margin-top: 64px;
  /*display: flex;
  gap: 40px;*/
  .slick-slide {
    padding: 0 20px;
  }
}

.proj__item {
  //width: calc(33.333% - 26.6px);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(15, 7, 6, 0.06);
}

.proj__img {
  height: 280px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.proj__content {
  padding: 24px 7px 24px 24px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e5e7eb;  
  min-height: 146px;
}

.proj__title {
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: rgb(12, 12, 13);
  font-family: var(--third-family);
}

.proj__labels {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
  &:empty {    
    display: none;
  }
}

.proj-label {
  background: rgba(8, 145, 178, 0.1);
  height: 38px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  justify-content: center;  
}

.proj-label__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  img {
    max-width: 100%;
    height: auto;
  }
}


.proj-label__name {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(12, 12, 13);
  margin-left: 8px;
  display: flex;
  align-items: center;
  font-family: var(--second-family);
}

.proj__txt {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(12, 12, 13);
  margin-bottom: 0;
  &:empty {    
    display: none;
  }
}

.slider__sl {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  .slick-arrow {
    position: absolute;
    z-index: 12;  
    border: none;
    background: none;
    font-size: 0;
    right: 20px;
    top: -100px;
    border-radius: 4px;
    padding: 8px 16px;
    width: 63px;
    height: 28px;    
    background: var(--project-colors-blue) url("../img/sl-arrow.svg") no-repeat center;
    li {
      button {
        padding: 0;        
        border: none;
      }
    }
    &.slick-disabled {
      border-radius: 16px;
      padding: 8px 16px;
      width: 63px;
      height: 28px;      
      background: #fff url("../img/sl-arrow2.svg") no-repeat center;
    }
  }


  .slick-prev {  
    //left: calc(50% - 80px);
    transform: translate(-145px, 0%);    
  }

  .slick-next {  
    //right: calc(50% - 80px);  
    transform: rotate(180deg)
  }

  .slick-dots {
    position: absolute;
    top: -87px;
    right: 94px;    
    display: flex;        
            justify-content: flex-start;
    z-index: 11;
    width: 60px;    
    background: #e2e8f0;        
    li {
      font-size: 0;
      background: none;
      padding: 0;      
      button {
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        width: 10px;
        height: 2px;        
        background: #e2e8f0;        
      }
      &.slick-active {
        button {
          background: #020617;                
        }
      }
    }
  }
}//sl

.examples {
  background: rgba(8, 145, 178, 0.03);
}
//2000


.content-block,
.banner,
.slider,
header,
footer,
.section:not(.examples) {
  
} 

@media (min-width : 1200px) {
  .hide-pc {
    display: none;
  }
}


@import "_footer.scss";
@import "_after-styless";



body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}


